.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}

#avisoAtivacao{
  font-size: 11px;
}

label{
  margin-top: 15px;
}

#inputBusca{
  margin-top: 10px;
}

.btnbusca{
  margin-top: 10px;
  background-color: blue;
  color: white;
  font-weight: bolder;
}

#inputFilter{
  margin-left: 6px;
  margin-top: 50px;
}
