<div class="container">
  <div class="title_container mt-3">
    <h2>Cadastro de area</h2>
  </div>
  <div class="col-12 col-sm-12 form-group">
    <label class="font-weight-bold labels">Nome</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="txtNomeArea"
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <label class="font-weight-bold labels">Número area</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="txtNumeroArea"
      type="number"
    />
  </div>
</div>

<div class="row d-flex justify-content-center mt-3">
  <button class="button btn-success col-4" (click)="adicionarArea()">SALVAR</button>
</div>

