<div class="container">
  <div class="title_container mt-3">
    <h2>Cadastro de endereço</h2>
  </div>
  <div class="col-12 col-sm-12 form-group">
    <label class="font-weight-bold labels">Nome rua</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="nomeRua"
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <label class="font-weight-bold labels">Nome bairro</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="nomeBairro"
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <label class="font-weight-bold labels">CEP</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="cep"
      mask="00000-000"
    />
  </div>

</div>

<mat-form-field class="col-11 selectArea mt-4">
  <mat-select
    class="mt-3"
    name="area"
    placeholder="Selecione uma area"
  >
    <mat-option
      (onSelectionChange)="changeArea($event)"
      *ngFor="let area of areasArray"
      [value]="area.idArea"
    >
      {{ area.nomeArea }}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="row d-flex justify-content-center mt-3">
  <button class="button btn-success col-4" (click)="adicionarEndereco()">SALVAR</button>
</div>

