<div class="container">
  <div class="row">
    <div class="col">
      <i
        class="fa fa-floppy-o iconeDetalhe"
        aria-hidden="true"
        style="font-size: 30px; color: blue"
      >
      </i>
      <p style="font-size: 12px"><b>SALVAR</b></p>
    </div>

    <div class="col">
      <i
        class="fa fa-trash-o iconeDetalhe col-xs-6"
        aria-hidden="true"
        style="font-size: 30px; color: red"
      >
      </i>
      <p style="font-size: 12px"><b>EXCLUIR USUÁRIO</b></p>
    </div>
  </div>
</div>
