<div class="modal-body">
  <div class="col-12 col-sm-12 form-group">
    <label class="font-weight-bold labels">Nome</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="txtNomeCliente"
      value="{{ usuarioCarregado.nomeCompleto }}"
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <label class="font-weight-bold labels">Email</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="txtEmail"
      value="{{ usuarioCarregado.email }}"
      disabled
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <label class="font-weight-bold labels">Senha</label>
    <input
      class="form-group col-12 col-sm-12 validaCliente"
      id="txtSenha"
      value="{{ usuarioCarregado.senha }}"
      disabled
    />
  </div>

  <label class="font-weight-bold mt-4 labels">Status</label>
  <mat-select
    name="statususuario"
    placeholder="Selecione um status"
    (selectionChange)="changeStatus($event)"
    id="selectEscolaridade"
    [value]="usuarioCarregado.idStatus"
  >
    <mat-option
      *ngFor="let status of statusUsuariosArray"
      [value]="status.idStatus"
    >
      {{ status.descricaoStatus }}
    </mat-option>
  </mat-select>

  <label class="font-weight-bold mt-4 labels">Area</label>
  <mat-select
    name="area"
    placeholder="Selecione uma area"
    (selectionChange)="changeArea($event)"
    id="selectArea"
    [value]="usuarioCarregado.idArea"
  >
    <mat-option
      *ngFor="let area of areasArray"
      [value]="area.idArea"
    >
      {{ area.nomeArea }}
    </mat-option>
  </mat-select>

  <label class="font-weight-bold mt-4 labels">Permissão</label>
  <mat-select
    name="permissao"
    placeholder="Selecione uma permissão"
    (selectionChange)="changePermissao($event)"
    id="selectPermissao"
    [value]="usuarioCarregado.idPermissao"
  >
    <mat-option
      *ngFor="let permissao of permissoesArray"
      [value]="permissao.idPermissao"
    >
      {{ permissao.descricaoPermissao }}
    </mat-option>
  </mat-select>
</div>
