<div class="container">
  <div class="title_container mt-3">
    <h2>Detalhes do plano</h2>
  </div>
  <div class="col-12 col-sm-12 form-group">
    <label class="font-weight-bold labels">Nome plano</label>
    <br />
    <input
      class="form-group col-8 col-sm-8 validaCliente"
      id="nomePlano"
      value="{{ planoCarregado.nomePlano }}"
    />
  </div>

  <div class="col-12 col-sm-12 mt-4 form-group">
    <label class="font-weight-bold labels">Valor plano</label>
    <br />
    <input
      class="form-group col-8 col-sm-8 validaCliente"
      id="valorPlano"
      currencyMask
      [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
      value="{{ planoCarregado.valorPlano}}"
    />
  </div>
</div>

<div class="row linhaBotoes">
  <button class="button btn-success" (click)="alterarPlano()">SALVAR</button>
  <button class="button btn-danger mt-2" (click)="fechaModal()">CANCELAR</button>
</div>
